<section class="mb-5" id="portfolio">
  <div class="container">
    <div class="text-center p-5">
      <h2>Portfolio</h2>
      <p>
        Lorem ipsum dolor sit culpa velit quaerat repellendus labore! Officia ea
        obcaecati maiores ipsa?
      </p>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-4">
        <div class="g-3">
          <img
            src="../../../assets/header1.jpg"
            class="img-fluid"
            alt="Mobile"
          />
        </div>
      </div>
      <div class="col-lg-4">
        <div class="g-3">
          <img
            src="../../../assets/laptop.jpg"
            class="img-fluid"
            alt="Mobile"
          />
        </div>
      </div>
      <div class="col-lg-4">
        <div class="g-3">
          <img
            src="../../../assets/header2.jpg"
            class="img-fluid"
            alt="Mobile"
          />
        </div>
      </div>
    </div>
    <div class="justify-content-center align-items-center text-center py-5">
      <a
        type="button"
        href="#portfolio"
        class="btn btn-lg text-white"
        style="width: 15rem; background-color: #75135dba"
        >Explore more</a
      >
    </div>
  </div>
</section>
