<div id="service" style="background-color: #e1e1e1;" class="mb-5 py-5">
  <section class="container">
        <div class="text-center py-4">
            <h2>How can we help you?
            </h2>
            <p> laborum velit expedita porro, numquam magnam ut facere quas beatae dignissimos.</p>
        </div>

        <div class="row g-2 p-2">
            <div class="col-lg-4 ">
              <div class="p-5 border bg-light">
                <i class="bi bi-pencil-square"
                style="color: purple;"></i>
            <h3> Design</h3>
            <p class="animate__animated animate__backInDown ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius sit aspernatur, fuga, eaque unde sequi cum quam, consequatur consequuntur minus nisi saepe magni. Earum praesentium perferendis numquam suscipit dolorem non!</p>
              </div>
            </div>
            <div class="col-lg-4  ">
                <div class="p-5 border bg-light">
                    <i class="bi bi-code-slash" 
                    style="color: purple;"></i> 
                <h3>Development</h3>
                <p class="animate__animated animate__backInDown ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius sit aspernatur, fuga, eaque unde sequi cum quam, consequatur consequuntur minus nisi saepe magni. Earum praesentium perferendis numquam suscipit dolorem non!</p>

                </div>
               
            </div>
 
            <div class="col-lg-4 ">
                <div class="p-5 border bg-light">
                    <i class="bi bi-currency-dollar" style="color: purple;"
                    style="color: purple;"></i> 
                <h3>Marketing</h3>
                <p class="animate__animated animate__backInDown ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius sit aspernatur, fuga, eaque unde sequi cum quam, consequatur consequuntur minus nisi saepe magni. Earum praesentium perferendis numquam suscipit dolorem non!</p>
                </div>
               
            </div>
            <div class="col-lg-4 ">
                   <div class="p-5 border bg-light">
                
                    <i class="bi bi-linkedin"></i>
                <h3>Social Media</h3>
                <p class="animate__animated animate__backInDown "> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius sit aspernatur, fuga, eaque unde sequi cum quam, consequatur consequuntur minus nisi saepe magni. Earum praesentium perferendis numquam suscipit dolorem non!</p>
                   </div>
            </div>
            <div class="col-lg-4 ">
                <div class="p-5 border bg-light">
                    <i class="bi bi-cart2"   style="color: purple;"></i>
                <h3>E-commerce</h3>
                <p class="animate__animated animate__backInDown ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius sit aspernatur, fuga, eaque unde sequi cum quam, consequatur consequuntur minus nisi saepe magni. Earum praesentium perferendis numquam suscipit dolorem non!</p>
                </div>
               
            </div>
            <div class="col-lg-4 ">
                <div class="p-5 border bg-light">
                    <i class="bi bi-question-circle-fill"></i>
                <h3> Help & Support</h3>
                <p class="animate__animated animate__faceInUp">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius sit aspernatur, fuga, eaque unde sequi cum quam, consequatur consequuntur minus nisi saepe magni. Earum praesentium perferendis numquam suscipit dolorem non!</p>

                </div>
                
            </div>
        </div>
    </section>
</div>