<section class="p-5 section-container">

   <div class="container p-5">
    <div class="row justify-content-sm-center ">
            <div class="col-lg-3  ">
                <h4><i class="fa-brands fa-digital-ocean"></i> Digital Agency</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, atque.</p>
            </div>
            <div class="col-lg-3 justify-content-center align-items-center ">
                <h4>Company</h4>
                <ul
                    class="list-group  "
                >
                    <li class="list-group-item borderless">
                        <a class="nav-link " href="#" aria-current="page"
                            >Home</a
                        >
                    </li>
                    <li class="list-group-item borderless">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="list-group-item borderless">
                        <a class="nav-link" href="#">Service</a>
                    </li>
    
                    <li class="list-group-item borderless">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                   
                </ul>
                
            </div>
            <div class="col-lg-3">
                <h4>Business</h4>
                <ul
                class="list-group  "
            >
                <li class="list-group-item borderless">
                    <a class="nav-link " href="#" aria-current="page"
                        >Project</a
                    >
                </li>
                <li class="list-group-item borderless">
                    <a class="nav-link" href="#">Our Team</a>
                </li>
                <li class="list-group-item borderless">
                    <a class="nav-link" href="#">Fact</a>
                </li>
    
                <li class="list-group-item borderless">
                    <a class="nav-link" href="#">Customers</a>
                </li>
               
            </ul>
            </div>
            <div class="col-lg-3">
                <h4>Get in Touch</h4>
                <p>Rt. 66, Downtown, Washington, DC</p>
                <p>info&#64;example.com</p>
                <p>1-800-1234-567</p>
                <p>+001 987-654-3210</p>
            </div>
        </div>
    </div>
</section>