<section class="header p-5 text-white" style="height: 100vh;">
<app-navbar></app-navbar>
<div class="container mt-5 pt-5">
    <div class="my-3">
        <div class="col-lg-7">
            <h1 class="fw-bold">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>
        <p class="lead ">Lorem ipsum dolor sit amet consectetur adipisicing elit.mque praesentium, debitis ipsa enim, quasi quia tempore aliquid vero ea inventore.</p>
        <button type="button" class="btn btn-lg" style="background-color: #75135dba; color: #fff;">Get Started</button>
        </div>
    </div>
</div>
</section>