<section id="leadership" class="py-5 mb-5 bg-light ">
  <div class="container">
    <div class="row justify-content-center align-items-center  text-center  ">
        <div class="col-lg-6 p-y my-4">
            <h2 class="fw-bold ">Meet Our Leadership</h2>
            <p class="lead">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum, neque
              distinctio. Necessitatibus, provident est. Deleniti, alias.
            </p>
          </div>
    </div>
    <div class="row justify-content-center align-items-center text-center">
        <div class="col-lg-4">
          <figure class="figure">
            <img src="../../../assets/user2.jpg" class="figure-img img-fluid rounded"  alt="User 2" />
            <figcaption class="figure-caption text-start">
              <strong>Joel Anders</strong>
              <p>Our CEO </p>
            </figcaption>
          </figure>
        </div>
        <div class="col-lg-4">
            <figure class="figure">
              <img src="../../../assets/user3.jpg" class="figure-img img-fluid rounded"  alt="User 3" />
              <figcaption class="figure-caption text-start">
                <strong> Jenny Fabrikson</strong>
                <p>Team Manager</p>
              </figcaption>
            </figure>
          </div>
    
    
          <div class="col-lg-4">
            <figure class="figure">
              <img src="../../../assets/user4.jpg" class="figure-img img-fluid rounded"  alt="User 4" />
              <figcaption class="figure-caption text-start">
                <strong>John Doe</strong>
                <p>Director HR</p>
              </figcaption>
            </figure>
          </div>
      </div>
      <div class="row p-5 bg-white justify-content-center align-items-center  ">
        <div class="col-md-6 ">
            <div class="">
                <h4>Would you like to start a project with us?
                </h4>
                <p>Etiam erat lectus, finibus eget commodo quis, tincidunt eget leo. Nullam quis vulputate orci, ac accumsan quam. Morbi fringilla congue libero.</p>
            </div>

        </div>
        <div class="col-md-6 d-flex justify-content-md-end">
            <button type="button" class="btn btn-lg text-white " style="background-color: #75135dba;">+182-888-222</button>
        </div>
      </div>
  </div>
</section>
